/* Archivo: css/common.css */

/* Definición de variables de color */
:root {
  --magenta: #ee3d8f;
  --celeste: #37bbed;
  --morado: #9283be;
  /* ... (definir todas las demás variables de color) */
}

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--fondo-pantalla);
  color: var(--textos);
}

p {
  font-size: 12px;
}

h1 {
  font-size: 26px;
  color: var(--titulos);
  padding-bottom: 20px;
}

h2 {
  font-size: 22px;
  color: var(--titulos);
}

h3 {
  font-size: 18px;
  color: var(--titulos);
}

/* Otros estilos y estilos específicos comunes pueden ir aquí */